<aside>
  <div
    class="top"
    style="background-color: white; padding: 0.8rem; border-radius: 1rem"
  >
    <div class="logo">
      <img src="../../assets/logo-cni.jpg" alt="img" />
    </div>
  </div>
  <div class="sidebar">
    <a routerLink="/admin/home" class="active">
      <span class="material-icons-sharp"> grid_view </span>
      <h3>Dashboard</h3>
    </a>

    <a routerLink="/admin/create-user">
      <span class="material-icons-sharp"> group_add </span>
      <h3>Add User</h3>
    </a>
    <a routerLink="/admin/change-password">
      <span class="material-icons-sharp"> settings </span>
      <h3>change password</h3>
    </a>
    <a routerLink="">
      <span class="material-icons-sharp"> logout </span>
      <h3>Logout</h3>
    </a>
  </div>
</aside>
