<div class="row container_project">
  <form [formGroup]="form">
    <div class="row title_date">
      <div class="col-5">
        <label for="inputEmail4" class="form-label">Title</label>
        <input
          type="text"
          class="form-control"
          id="inputTitle"
          formControlName="title"
          required
        />
        <div
          *ngIf="
            form.controls['title'].hasError('required') &&
            form.controls['title'].touched
          "
          id="inputTitle"
          class="requiredField"
        >
          Please enter the title.
        </div>
      </div>
      <div class="col-6">
        <!-- *************************DATE ********************** -->
        <mat-form-field appearance="fill">
          <!-- <mat-label >Enter a date range</mat-label> -->
          <mat-date-range-input [rangePicker]="picker">
            <input
              matStartDate
              placeholder="Start date"
              formControlName="startDate"
            />
            <input
              matEndDate
              placeholder="End date"
              formControlName="endDate"
            />
          </mat-date-range-input>

          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      </div>
    </div>

    <!-- ************************* Description ********************** -->
    <div class="row mb-3 mt-3 justify-content-between align-items-center">
      <div class="col-md-5">
        <label for="description" class="form-label">Description</label>
        <textarea
          class="form-control"
          id="description"
          rows="4"
          formControlName="description"
          required
        ></textarea>
        <div
          *ngIf="
            form.controls['description'].hasError('required') &&
            form.controls['description'].touched
          "
          id="inputDescription"
          class="requiredField"
        >
          Please enter the description.
        </div>
      </div>
    </div>

    <div class="row row_btn">
      <button
        type="submit"
        class="btn btn-primary"
        (click)="addProject()"
        [disabled]="!form.valid"
      >
        Create new project
      </button>
    </div>
  </form>
</div>
