
<div>
  <div class="row" style="margin-right: 1rem; margin-left: 0.19rem">
    <div class="row">
      <div class="card" style="border-radius: 2rem;">
        <h5  style="font-size: 2rem;font-family: montserrat;padding: 2rem;">
          Send Invitation
        </h5>
      </div>
    </div>
  </div>

  <div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
      <div class="col-md-12">
        <div class="card mb-4">
          <h5 class="card-header">Add Invitation</h5>
          <!-- Account -->
          <div class="card-body"></div>
          <hr class="my-0" />
          <div class="card-body">
            <form [formGroup]="form">
              <div class="row">
                <div class="mb-3 col-md-6">
                  <label for="projectId" class="form-label">Project</label>
                  <select
                    id="projectId"
                    class="form-select"
                    formControlName="projectId"
                    required
                  >
                    <!-- liste des roles par id -->
                    <option *ngFor="let p of projects">
                      {{ p.title }}
                    </option>
                  </select>
                  <div>Please select project.</div>
                </div>
                <div class="mb-3 col-md-6">
                  <label for="memberId" class="form-label">Member</label>
                  <select
                    id="memberId"
                    class="form-select"
                    formControlName="memberId"
                    required
                  >
                    <option *ngFor="let m of members">
                      {{ m.user.email }}
                    </option>
                  </select>
                  <div>Please select member.</div>
                </div>
              </div>
              <!-- cliquer sur submit appliquer addUser() -->
              <div class="mt-2">
                <!--      <button
                  type="submit"
                  class="btn btn-primary me-2"
                  (click)="sendInvitationByProject()"
                >
                  Submit
                </button> -->
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
      <div class="col-md-12">
        <div class="card mb-4" style="border-radius: 2rem;">
          <h5 class="card" style="font-size: 20px;" >Invitation List </h5>
          <!-- Account -->
          <div class="card-body"></div>
          <hr class="my-0" />
          <div class="card-body"></div>
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Project</th>
                <th scope="col">Member</th>
                <th scope="col">Status</th>
                <th scope="col">Date</th>
              </tr>
            </thead>
            <tbody >

              <tr *ngFor="let inv of sendedInvitations">
                <td>
                  {{ inv.project.title }}
                </td>
                <td>
                  {{ inv.member.user.firstName }} {{ inv.member.user.lastName }}
                </td>

                <td>
                  {{ inv.status }}
                </td>
                <td>
                  {{ inv.date | date:'longDate'}}
                </td>
                <td>
                  <button
                    type="submit"
                    id="submitButton"
                    onclick="validateSignupForm()"
                    class="submitButton pure-button pure-button-primary"
                  (click)="removeInvitationByProject(inv.id)"
                  >
                  <span>remove</span>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
