div .card {
    border-radius: 25px;

}

h5 {
font-size: 1.5rem;
}

.images {
align-items: center;
img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-left: 10px;
}}

.mb-4 {
    margin-bottom: 0.5rem!important;
}