<aside>
  <div
    class="top"
    style="background-color: white; padding: 0.8rem; border-radius: 1rem"
  >
    <div class="logo">
      <img src="../../assets/logo-cni.jpg" alt="img" />
    </div>
  </div>
  <div class="sidebar">
    <a routerLink="/manager/home" class="active">
      <span class="material-icons-sharp"> grid_view </span>
      <h3>Dashboard</h3>
    </a>

    <a routerLink="/manager/create-project">
      <span class="material-icons-sharp"> work </span>
      <h3>Add Project</h3>
    </a>

    <a routerLink="/manager/project-details">
      <span class="material-icons-sharp"> work </span>
      <h3>project-details</h3>
    </a>

    <a routerLink="/manager/create-attachment">
      <span class="material-icons-sharp"> work </span>
      <h3>Attachments</h3>
    </a>

    <a routerLink="/manager/send-invitation">
      <span class="material-icons-sharp"> inventory </span>
      <h3>Invitations</h3>
    </a>

    <a routerLink="/manager/chat">
      <span class="material-icons-sharp"> mail_outline </span>
      <h3>Chat</h3>
    </a>
    <a routerLink="/manager/change-password">
      <span class="material-icons-sharp"> settings </span>
      <h3>change password</h3>
    </a>
    <a routerLink="">
      <span class="material-icons-sharp"> logout </span>
      <h3>Logout</h3>
    </a>
  </div>
</aside>
