<div class="layout-wrapper layout-content-navbar">
  <div class="layout-container">
    <!-- Layout container -->
    <div class="layout-page">
      <!-- Content wrapper -->
      <div class="content-wrapper">
        <!-- Content -->

        <div class="container-xxl flex-grow-1 container-p-y">
          <div class="row">
            <div class="col-md-12">
              <div class="card mb-4">
                <h5 class="card-header">Profile Details</h5>
                <!-- Account -->
                <div class="card-body">
                  <div
                    class="d-flex align-items-start align-items-sm-center gap-4"
                  >
                    <img
                      src="../../assets/img/avatar/avatar-1.jpg"
                      alt="user-avatar"
                      class="d-block rounded"
                      height="100"
                      width="100"
                      id="uploadedAvatar"
                    />

                  </div>
                </div>
                <hr class="my-0" />
                <div class="card-body">
                  <form  [formGroup]="form">
                    <div class="row">

                      <div class="mb-3 col-md-6">
                        <label for="firstName" class="form-label"
                          >First Name</label
                        >
                        <input
                          class="form-control"
                          type="text"
                          id="firstName"
                          name="firstName"
                          formControlName="firstName"
                          required                        />
                        <div
                          *ngIf="
                            form.controls['firstName'].hasError('required') &&
                            form.controls['firstName'].touched
                          "
                          id="inputFirstName"
                          class="requiredField"
                        >
                          Please enter your firstname.
                        </div>
                      </div>
                      <div class="mb-3 col-md-6">
                        <label for="lastName" class="form-label"
                          >Last Name</label
                        >
                        <input
                          class="form-control"
                          type="text"
                          name="lastName"
                          id="lastName"
                          formControlName="lastName"
                          required/>
                        <div
                          *ngIf="
                            form.controls['lastName'].hasError('required') &&
                            form.controls['lastName'].touched
                          "
                          id="inputLastName"
                          class="requiredField"
                        >
                          Please enter your lastName.
                        </div>
                      </div>
                      <div class="mb-3 col-md-6">
                        <label for="email" class="form-label">E-mail</label>
                        <input
                          class="form-control"
                          type="text"
                          id="email"
                          name="email"
                          formControlName="email"
                          required                        />
                        <div
                          *ngIf="form.controls['email'].touched"
                          id="inputEmail4"
                          class="requiredField"
                        >
                          <div
                            *ngIf="form.controls['email'].hasError('required')"
                          >
                            Please enter your email.
                          </div>
                          <div
                            *ngIf="
                              form.controls['email'].invalid &&
                              !form.controls['email'].hasError('required')
                            "
                          >
                            Email invalid
                          </div>
                        </div>
                      </div>
                      <div class="mb-3 col-md-6">
                        <label for="password" class="form-label"
                          >password</label
                        >
                        <input
                          type="password"
                          class="form-control"
                          id="password"
                          name="password"
                          formControlName="password"
                          required
                        />
                        <div
                          *ngIf="form.controls['password'].touched"
                          id="inputEmail4"
                          class="requiredField"
                        >
                          <div
                            *ngIf="
                              form.controls['password'].hasError('required')
                            "
                          >
                            Please enter your password.
                          </div>
                          <div
                            *ngIf="
                              form.controls['password'].invalid &&
                              !form.controls['password'].hasError('required')
                            "
                          >
                            Password invalid
                          </div>
                        </div>
                      </div>

                      <div class="mb-3 col-md-6">
                        <label for="userRole" class="form-label">Role</label>
                        <select
                          id="userRole"
                          class="form-select"
                          formControlName="userRole"
                          required
                        >
                        <!-- liste des roles par id -->
                          <option *ngFor="let item of roleEnum | enumToArray">
                            {{ item }}
                          </option>
                        </select>
                        <div
                          *ngIf="
                            form.controls['userRole'].hasError(
                              'required'
                            ) && form.controls['userRole'].touched
                          "
                          id="userRole"
                          class="requiredField"
                        >
                          Please select role.
                        </div>
                      </div>

                      <div class="mb-3 col-md-6">
                        <label for="address" class="form-label">Post</label>
                        <input
                          type="text"
                          class="form-control"
                          id="address"
                          formControlName="post"
                          required
                        />
                        <div
                          *ngIf="
                            form.controls['post'].hasError('required') &&
                            form.controls['post'].touched
                          "
                          id="inputPost"
                          class="requiredField"
                        >
                          Please enter your post.
                        </div>
                      </div>

                      <div class="mb-3 col-md-6">
                        <label for="state" class="form-label">City</label>
                        <input
                          class="form-control"
                          type="text"
                          formControlName="city"
                          required
                        />
                        <div
                          *ngIf="
                            form.controls['city'].hasError('required') &&
                            form.controls['city'].touched
                          "
                          id="inputCity"
                          class="requiredField"
                        >
                          Please enter your city.
                        </div>
                      </div>

                      <div class="mb-3 col-md-4">
                        <label
                          class="form-label"
                          for="country"
                          >Country</label
                        >
                        <input
                          class="form-control"
                          type="text"
                          formControlName="country"
                          required
                        />
                        <div
                          *ngIf="
                            form.controls['country'].hasError('required') &&
                            form.controls['country'].touched
                          "
                          id="inputCountry"
                          class="requiredField"
                        >
                          Please enter your country.
                        </div>
                      </div>

                      <div class="mb-3 col-md-2">
                        <label for="Code" class="form-label">Postal Code</label>
                        <input
                          type="text"
                          class="form-control"
                          id="zipCode"
                          formControlName="codePostal"
                          required
                        />
                        <div
                          *ngIf="
                            form.controls['codePostal'].hasError('required') &&
                            form.controls['codePostal'].touched
                          "
                          id="inputPosinputCodePostalte"
                          class="requiredField"
                        >
                          Please enter your code postal.
                        </div>
                      </div>
                    </div>
                    <!-- cliquer sur submit appliquer addUser() -->
                    <div class="mt-2">
                   <button type="submit" class="btn btn-primary me-2" (click)="addUser()" [disabled]="!form.valid">
                        Submit
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="content-backdrop fade"></div>
      </div>
    </div>
  </div>
</div>
