<app-header flexLayout="column"></app-header>
<div class="container">
  <div class="row custom-section d-flex align-items-center">
    <div class="col-12 col-lg-4">
      <h2>Team Work</h2>
      <h3>Process</h3>
      <p>
        See everything in one place so you can effortlessly manage your team,
        projects and clients !
      </p>
      <a href="login">Login</a>
    </div>
    <div class="col-12 col-lg-8">
       <img src="../../assets/mainbenner.png" alt="Team process banner" /> 
    </div>
  </div>
</div>
