.form-control {
  display: block;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #f8f9fa;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.mat-form-field {
  display: flex;
}

button {
  margin-top: 200px;
  margin-left: 72%;
}

.input-group {
  position: relative;
  display: flex;
  width: 100%;
}

.title_date {
  justify-content: space-between;
}

.container_attachment {
  padding: 30px 20px;
}

.row_btn {
  float: right;
    margin-top: 3rem;


  button {
    margin: 0;
    padding: 7px 16px;
    border-radius: 8px;
  }
}

.file-input {
    display: none;
  }

  .delete{
    img{
      width: 12px;
      cursor: pointer;
    }
  }
  h1  {
    font-weight: 500;
    font-size: 1.8rem;
    background-color: white;
    padding-bottom: 3rem;
    padding-top: 1rem;
    border-radius: 1rem;
    font-family: Montserrat;
}

.card {
  border: 0;
  box-shadow: none;
}