<div class="row" style="margin-right: 0.5rem">
  <div
    class="card"
    style="
      padding: -0.25rem;
      border-radius: 1rem;
      border: none;
      margin-bottom: 1rem;
    "
  >
    <h1>Documents</h1>
  </div>
</div>

<div>
  <form>
    <div class="row">
      <div class="col-4" style="margin-left: 61rem">
        <div class="card" style="padding: 50px; border-radius: 1rem">
          <div class="card-body">
            <h1 style="margin: revert">Import a document</h1>
            <div class="mb-3">
              <label for="formFile" class="form-label text-muted"
                >share documets with your team</label
              >

              <input
                class="form-control"
                type="file"
                id="formFile"
                #fileUpload
                multiple
                (change)="selectFile($event)"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row row_btn">
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="!selectedFiles"
        (click)="upload()"
      >
        add documents
      </button>
    </div>
  </form>
</div>
