<div >
    <div class="row">
    <div class="col-md-6">
        <div class="card m-b-30">
            <div class="card-header">                                
                <div class="row align-items-center">
                    <div class="col-8">
                        <h5 class="card-title mb-0"> project name (FILES)</h5>
                    </div>
                    <div class="col-4">
                        <h5><a href="" style="color: cornflowerblue;">valide</a> </h5>                                      
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="product-file-type">
                    <ul class="list-unstyled">
                        <li class="media mb-3">
                            <span class="mr-3 align-self-center img-icon primary-rgba text-primary">.doc</span>
                            <div class="media-body">
                            <h5 class="font-16 mb-1">Marketing Guidelines<i class="feather icon-download-cloud float-right"></i></h5>
                            <p>.doc, 5.3 MB</p>
                            </div>
                        </li>
                        <li class="media mb-3">
                            <span class="mr-3 align-self-center img-icon primary-rgba text-primary">.doc</span>
                            <div class="media-body">
                            <h5 class="font-16 mb-1">Marketing Guidelines<i class="feather icon-download-cloud float-right"></i></h5>
                            <p>.doc, 5.3 MB</p>
                            </div>
                        </li>
                      
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card m-b-30">
            <div class="card-header">                                
                <div class="row align-items-center">
                    <div class="col-8">
                        <h5 class="card-title mb-0">project name (FILES)</h5>
                    </div>
                    <div class="col-4">
                        <h5><a href="" style="color: cornflowerblue;">valide</a> </h5>                                                                            
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="product-file-type">
                    <ul class="list-unstyled">
                        <li class="media mb-3">
                            <span class="mr-3 align-self-center img-icon primary-rgba text-primary">.doc</span>
                            <div class="media-body">
                            <h5 class="font-16 mb-1">Marketing Guidelines<i class="feather icon-download-cloud float-right"></i></h5>
                            <p>.doc, 5.3 MB</p>
                            </div>
                        </li>
                        <li class="media mb-3">
                            <span class="mr-3 align-self-center img-icon primary-rgba text-primary">.doc</span>
                            <div class="media-body">
                            <h5 class="font-16 mb-1">Marketing Guidelines<i class="feather icon-download-cloud float-right"></i></h5>
                            <p>.doc, 5.3 MB</p>
                            </div>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>