<form [formGroup]="form">
  <div class="row">
    <div class="col-4">
      <div class="card mb-4" style=" border-radius: 25px">
        <div class="card-body text-center">
          <img
            [src]="url"
            alt="avatar"
            title="upload_picture"
            class="rounded-circle img-fluid"
            style="width: 150px; margin-left: 120px"
          />
          <!-- getUserById -->
          <!-- <h5 class="my-3">{{ user.firstName }}</h5> -->

          <!-- ******** firstName ********* -->
          <div class="d-flex">
            <input
              style="margin-top: 2rem;"
              type="text"
              class="form-control"
              id="inputFirstName"
              formControlName="firstName"
              required
              (click)="setEditing(true)"
            />
            <!-- if isEditingFirstName=true -->
            <div
              class="d-flex justify-content-end images"
              *ngIf="isEditingFirstName"
            >
              <img
                src="../../../../assets/img/xmark-solid.svg"
                alt=""
                (click)="cancelUpdate()"
              />
              <img
                src="../../../../assets/img/check-solid.svg"
                alt=""
                (click)="updateUser()"
              />
            </div>
          </div>

          <div
            class="d-flex justify-content-center mb-2"
            style="margin-top: 20px"
          >
            <input
              style="display: none"
              type="file"
              id="img"
              accept="image/*"
              (change)="onSelect($event)"
            />
            <label for="img" class="btn btn-primary me-2 mb-4">
              <span class="d-none d-sm-block">edit image</span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="card mb-4" style="padding: 68px">
        <div class="card-body">
          <!-- **********USERNAME ****************** -->
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">First name</p>
            </div>
            <div class="col-sm-9" style="margin-bottom: 2rem;">
              <!-- <p class="text-muted mb-0">{{ user.firstName }}</p> -->
              <div class="d-flex">
                <input
                  type="text"
                  class="form-control"
                  id="inputFirstName"
                  formControlName="firstName"
                  required
                  (click)="setEditing(true)"
                />
                <!-- if isEditingFirstName=true -->
                <div
                  class="d-flex justify-content-end images"
                  *ngIf="isEditingFirstName"
                >
                  <img
                    src="../../../../assets/img/xmark-solid.svg"
                    alt=""
                    (click)="cancelUpdate()"
                  />
                  <img
                    src="../../../../assets/img/check-solid.svg"
                    alt=""
                    (click)="updateUser()"
                  />
                </div>
              </div>
            </div>
          </div>
          <!-- ************EMAIL ******************* -->
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Email</p>
            </div>
            <div class="col-sm-9" style="margin-bottom: 2rem;">
              <!-- <p class="text-muted mb-0">{{ user.email }}</p> -->
              <div class="d-flex">
                <input
                  type="text"
                  class="form-control"
                  id="inputEmail"
                  formControlName="email"
                  required
                  (click)="setEditing(true)"
                />
                <!-- if isEditingFirstName=true -->
                <div
                  class="d-flex justify-content-end images"
                  *ngIf="isEditingEmail"
                >
                  <img
                    src="../../../../assets/img/xmark-solid.svg"
                    alt=""
                    (click)="cancelUpdate()"
                  />
                  <img
                    src="../../../../assets/img/check-solid.svg"
                    alt=""
                    (click)="updateUser()"
                  />
                </div>
              </div>
            </div>
          </div>
          <!-- ************POST ******************** -->
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Post</p>
            </div>
            <div class="col-sm-9">
              <!-- <p class="text-muted mb-0">{{ user.post }}</p> -->
              <div class="d-flex">
                <input
                  type="text"
                  class="form-control"
                  id="inputPost"
                  formControlName="post"
                  required
                  (click)="setEditing(true)"
                />
                <!-- if isEditingFirstName=true -->
                <div
                  class="d-flex justify-content-end images"
                  *ngIf="isEditingPost"
                >
                  <img
                    src="../../../../assets/img/xmark-solid.svg"
                    alt=""
                    (click)="cancelUpdate()"
                  />
                  <img
                    src="../../../../assets/img/check-solid.svg"
                    alt=""
                    (click)="updateUser()"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card mb-4 mb-md-0" style="padding: 25px">
        <div class="card-body">
          <table class="table col-md-6">
            <thead>
              <tr>
                <th scope="col">number</th>
                <th scope="col">Project Name</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let project of projects">
                <th scope="row">{{ project.id }}</th>
                <td>{{ project.title }}</td>
                <td>{{ project.status.description }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</form>
